<template>
  <div>
    <h1>Excersise 1</h1>
    <p>Transform the inputs in this form into reusable components that are capable of being v-modeled</p>

  <form @submit.prevent="submitForm">
    <label for="firstname">First name:</label>
    <input required type="text" name="firstName" id="firstname" />

    <label>
      Last name:
      <input type="text" name="lastName" />
    </label>

    <input
      aria-label="Email field"
      type="email"
      name="email"
      id="email"
      value="test@test.com"
      readonly
      aria-describedby="email-error"
    />

    <label for="age">Your age:</label>
    <input type="number" id="age" aria-describedby="age-error" />
    <p id="age-error" style="color: red;">You must be at least 18 years old to play WoW. (if only)</p>

    <label>
      Nom preference:
      <input type="radio" name="noms" /> Avocado
      <input type="radio" name="noms" /> Pie
    </label>

    <label>
      Favorite Vue library:
      <select name="library">
        <option value="vuelidate">Vuelidate</option>
        <option value="vuex">Vuex</option>
        <option value="formvuelatte">FormVueLatte</option>
        <option value="v-mask">v-mask</option>
        <option value="veelidate">Veelidate</option>
      </select>
    </label>

    <label>
      <input type="checkbox" name="spam" />
      <span>I'd like spam in my mailbox</span>
    </label>

    <label>
      <input type="checkbox" name="tos" />
      <span>I agree to the TOS</span>
    </label>

    <button type="submit">Submit</button>
  </form>
  </div>
</template>

<script>
export default {
  methods: {
    submitForm () {

    }
  }
}
</script>

<style scoped>
  form label {
    display: block;
  }

  label input:not([type="checkbox"]):not([type="radio"]) {
    display: block;
  }
</style>
